<!-- src/views/carts/purchase.handlebars -->

    <h2>Proceso de Compra</h2>
    {{#if successMessage}}
        <p>{{successMessage}}</p>
    {{/if}}
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

<a href="/products">Volver a la página de inicio</a>