<h1>Recuperar Contraseña</h1>

<form action="/api/session/recoveryPassword" method="POST">
    <label for="name">Email: </label>
    <input type="text" name="email"><br><br>
    <label for="name">Nueva Contraseña: </label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Cambiar Contraseña">
</form>